.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: #5a687f;
    stroke: #000;
}
.dot {
    stroke: #000;
}

.graticule {
    fill: none;
    stroke: darkslategrey;
    stroke-width: .5px;
    stroke-opacity: .4;
    pointer-events: none;
}

.grid line {
    stroke: #ccc;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }

.tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
}

.plot {
    height: inherit;
    width: inherit;
    display: block;
    margin: auto;
    background-color: #ffffff;
}

.plotHover {
    padding: 5px;
    position: absolute;
    z-index: 10;
    border: 1px solid black;
}

.plotTitle {
    text-anchor: middle;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* button */
::-webkit-scrollbar-button {
    background: #ffffff;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background:#373737; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
}

#infoPanel{
    width:300px;
    right: 0px;
    top: 0px;
    padding: 10px;
    z-index: 15;
    border: 2px solid black;
    display: block;

}

